<!--
  Main visualization page for threeGraph application.
  Author: Diego Cintra
  Date: 26/02/2018 (DD/MM/YYYY)
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Visualization tool for large bipartite graph exploration.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>threeGraph</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="vendor/mdlJqueryModalDialog/mdlJqueryModalDialog.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-red.min.css" />
    <link rel="stylesheet" href="vendor/mdlJqueryModalDialog/mdlJqueryModalDialog.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">threeGraph</span>
          <div class="mdl-layout-spacer"></div>
          <button id="jsonInfo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
            <span class="mdl-color-text--white ">Define json input</span>
            <!-- <i class="material-icons">launch</i> -->
            <div class="lower-case mdl-tooltip" for="jsonInfo">
                Toggle between showing or hiding dialog for input parameters.
            </div>
          </button>
          <div class="side-margin"></div>
          <button id="defineCategories" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored dialog-button">
              Define data categories
          </button>
          <div class="side-margin"></div>
          <button id="userInfo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button" disabled>
            <span class="mdl-color-text--white ">Define vertex info</span>
            <!-- <i class="material-icons">launch</i> -->
          </button>
          <div class="side-margin"></div>
          <button class="upload-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
            <span class="mdl-color-text--white ">Load graph...</span>
            <!-- <i class="material-icons">launch</i> -->
          </button>
          <input id="upload-input" class="no-display" type="file" name="uploads[]" multiple="multiple"></br>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
        <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect"> -->
          <!-- <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Visualization</a> -->
          <!-- <a href="#fixed-tab-2" class="mdl-layout__tab">Display Info</a> -->
          <!-- <a href="#fixed-tab-3" class="mdl-layout__tab">Vertex Info</a> -->
        <!-- </div> -->
      </header>
      <div id="settingsDrawer" class="mdl-layout__drawer">
        <!-- <span class="mdl-layout-title">Settings</span> -->
        <ul class="mdl-list">
            <!-- <li class="mdl-list__item">
              <span class="mdl-color-text--blue-grey-50 mdl-list__item-primary-content">
                Graph name:
              </span>
              <span id="graphName" class="mdl-color-text--blue-grey-50 mdl-list__item-primary-content"></span>
            </li> -->
            <!-- Graph info -->
            <h6>Graph info</h6>
            <ul class="mdl-list">
              <li class="mdl-list__item">
                <h7>Vertices: </h7>
                <span id="numberOfVertices"></span>
                <div class="lower-case mdl-tooltip" for="numberOfVertices">
                    Display number of vertexes from coarsened graphs, from most coarsened to least coarsened, separated by "/".
                </div>
              </li>
              <li class="mdl-list__item">
                <h7>Edges: </h7>
                <span id="numberOfEdges"></span>
                <div class="lower-case mdl-tooltip" for="numberOfEdges">
                    Display number of edges from coarsened graphs, from most coarsened to least coarsened, separated by "/".
                </div>
              </li>
              <li class="mdl-list__item">
                <h7>Layer 1 vertices: </h7>
                <span id="nVerticesFirstLayer"></span>
                <div class="lower-case mdl-tooltip" for="nVerticesFirstLayer">
                    Display number of vertexes on layer 1 from coarsened graphs, from most coarsened to least coarsened, separated by "/".
                </div>
              </li>
              <li class="mdl-list__item">
                <h7>Layer 2 vertices: </h7>
                <span id="nVerticesSecondLayer"></span>
              </li>
              <div class="lower-case mdl-tooltip" for="nVerticesSecondLayer">
                  Display number of vertexes on layer 2 from coarsened graphs, from most coarsened to least coarsened, separated by "/".
              </div>
            </ul>
            <li class="mdl-list__item">
              <span class="mdl-color-text--black-50 mdl-list__item-primary-content">
                Reset:
              </span>
              <button id="resetButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">visibility</i>
                <div class="lower-case mdl-tooltip" for="resetButton">
                    Reset camera to default position.
                </div>
              </button>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-color-text--black-50 mdl-list__item-primary-content">
                Zoom:
              </span>
              <button id="zoomIn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">add</i>
                <div class="lower-case mdl-tooltip" for="zoomIn">
                    Zoom in.
                </div>
              </button>
              <button id="zoomOut" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">remove</i>
                <div class="lower-case mdl-tooltip" for="zoomOut">
                    Zoom out.
                </div>
              </button>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-color-text--black-50 mdl-list__item-primary-content">
                Pan:
              </span>
              <button id="panLeft" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">keyboard_arrow_left</i>
                <div class="lower-case mdl-tooltip" for="panLeft">
                    Pan all the way to leftmost<br>part of bipartite graph.
                </div>
              </button>
              <button id="panRight" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">keyboard_arrow_right</i>
                <div class="lower-case mdl-tooltip" for="panRight">
                    Pan all the way to rightmost<br>part of bipartite graph.
                </div>
              </button>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-color-text--black-50 mdl-list__item-primary-content">
                Graph layout:
              </span>
              <button id="switchLayout" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="showGraphConfigurationCollapsed">
                <i class="material-icons">loop</i>
                <div class="lower-case mdl-tooltip" for="switchLayout">
                    Switch to either vertical or horizontal bipartite graph layout.
                </div>
              </button>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-color-text--black-50 mdl-list__item-primary-content">
                Reset vertex info:
              </span>
              <button id="resetInfo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="showGraphConfigurationCollapsed">
                <i class="material-icons">done</i>
                <div class="lower-case mdl-tooltip" for="resetInfo">
                    Click to reset vertex info showed by clicking on vertexes.
                </div>
              </button>
            </li>
            <li class="mdl-list__item">
              <button id="saveImgButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                <span class="mdl-color-text--white ">Save .png...</span>
                <!-- <i class="material-icons">launch</i> -->
              </button>
            </li>
            <li class="mdl-list__item">
              <button id="saveFileButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                <span class="mdl-color-text--white ">Save .json...</span>
                <!-- <i class="material-icons">launch</i> -->
              </button>
            </li>
            <hr>
            <h6>Multilevel settings</h6>
            <!-- Sliders for reduction factor -->
            <ul class="mdl-list">
              <li class="mdl-list__item">
                <h7>Layer 1: </h7>
                <span id="output1"></span>
              </li>
              <li class="mdl-list__item">
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="0.5" step="0.1" id="multilevelCoarsener" value="0" name="multilevelCoarsenerSlider" tabindex="0">
              </li>
              <li class="mdl-list__item">
                <h7>Layer 2: </h7>
                <span id="output2"></span>
              </li>
              <li class="mdl-list__item">
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="0.5" step="0.1" id="multilevelCoarsener2" value="0"  tabindex="0">
              </li>
              <li class="mdl-list__item">
                <!-- Simple Select -->
                <div class="mdl-textfield mdl-js-textfield">
                <!-- input pattern attribute -->
                  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="nLevels" />
                  <!-- mdl-textfield__label -->
                  <label class="mdl-textfield__label" for="nLevels">Number of levels</label>
                  <!-- class "mdl-textfield__error" -->
                  <span class="mdl-textfield__error">Input must have numbers only</span>
                </div>
                <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="username"/>
                  <label class="mdl-textfield__label" for="username">Username</label>
                </div> -->
              </li>
              <li class="mdl-list__item">
                <button id="coarseGraph" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                  <span class="mdl-color-text--white ">Coarse graph</span>
                  <div class="lower-case mdl-tooltip" for="coarseGraph">
                      Use user defined reduction factor and number of levels to coarse graph.
                  </div>
                  <!-- <i class="material-icons">launch</i> -->
                </button>
              </li>
              <li class="mdl-list__item">
                <button id="showConnections" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                  <span class="mdl-color-text--white ">Show connections</span>
                  <div class="lower-case mdl-tooltip" for="showConnections">
                      Toggle between showing connections that made vertexes merge into a super vertex.
                  </div>
                </button>
              </li>
            </ul>
            <!-- ??? -->
            <a id="downloadAnchorElem" class="no-display"></a>
          </ul>
      </div>
      <main id="mainSection" class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div id="gradientScale" class="relative-div float-right z-index-front">
          </div>
          <div id="divVertexInfoTable" class="hidden-visibility mdl-grid scrollable-y fixed-div small-margin z-index-front">
            <!-- <span class="mdl-layout__title">Vertex info</span> -->
            <div class="mdl-cell mdl-cell--1-col">
              <button id="clearTable1" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">clear</i>
                <div class="lower-case mdl-tooltip" for="clearTable1">
                    Clear table.
                </div>
              </button>
            </div>
            <div class="mdl-cell mdl-cell--11-col">
              <table id="vertexInfoTable" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead id="dynamicTableHeaders">
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric" v-for="header in headers">
                      {{ header }}
                    </th>
                  </tr>
                </thead>
                <tbody id="dynamicTableRows">
                  <tr v-for="row in rows">
                    <td class="mdl-data-table__cell--non-numeric" v-for="key in row">
                      {{ key }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="page-content outer-div">
            <div id="WebGL" class="middle-div z-index-behind">
              <div id="progressBar" class="hidden-visibility inner-div margin-zero-auto mdl-progress mdl-js-progress mdl-progress__indeterminate">
                <h6 >Loading graph...</h6>
              </div>
            </div>
            <div id="jsonInput" class="hidden-visibility fixed-div-center-2 mdl-grid">
              <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Choose parameters for coarsening</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <div class="mdl-textfield mdl-js-textfield">
                     <textarea class="mdl-textfield__input" type="text" rows="20"
                        id="jsonTextArea">
{
"vertices":
[
  "v1",
  "v2"
],
"reduction_factor":
[
  "r1",
  "r2"
],
"max_levels":
[
  "ml1",
  "ml2"
],
"matching":
[
  "greedy_seed_twohops"
],
"similarity":
[
  "weighted_common_neighbors"
],
"directory": "uploads/fileName",
"output": "fileNameCoarsened",
"filename": "uploads/fileName.json",
"save_conf": true,
"save_ncol": false,
"save_gml": true,
"save_source": false,
"save_predecessor": true,
"show_timing": false,
"save_timing": false,
"save_hierarchy": true,
"unique_key": false
}
                      </textarea>
                  </div>
                  <button id="coarseJson" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
                      <span class="mdl-color-text--white">Coarse graph</span>
                  </button>
                  <!-- <form action="/coarse" method="post">
                    <label for="tfixed-div-centeream_name">Enter name: </label>
                    <input id="team_name" type="text" name="name_field" value="Default name for team.">
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="OK">
                </form> -->
                </div>
              </div>
            </div>
            <div id="divVertexInfoTableSecondLayer" class="hidden-visibility mdl-grid scrollable-y fixed-div-upperLeft small-margin z-index-front">
              <div>
                <table id="vertexInfoTableSecondLayer" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead id="dynamicTableHeadersSecondLayer">
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric" v-for="header in headers">
                        {{ header }}
                      </th>
                    </tr>
                  </thead>
                  <tbody id="dynamicTableRowsSecondLayer">
                    <tr v-for="row in rows">
                      <td class="mdl-data-table__cell--non-numeric" v-for="key in row">
                        {{ key }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mdl-cell mdl-cell--1-col">
                <button id="clearTable2" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons">clear</i>
                  <div class="lower-case mdl-tooltip" for="clearTable2">
                      Clear table.
                  </div>
                </button>
              </div>
            </div>
            <div id="userDefinedInfo" class="hidden-visibility fixed-div-center">
              <!-- <ul id="userDefinedRows" class="demo-list-item mdl-list">
                <li class="mdl-list__item" v-for="row in rows">
                  <label style="width: 600px;" class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                      <input type="checkbox" id="checkbox1"
                         class="mdl-checkbox__input">
                  </label>
                  <span class="mdl-list__item-primary-content">
                    {{ row }}
                  </span>
                </li>
              </ul> -->
              <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead id="userDefinedHeaders">
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">
                      Select info to be shown
                    </th>
                  </tr>
                </thead>
                <tbody id="userDefinedRows">
                  <tr class="userRows" v-for="row in rows">
                    <td class="mdl-data-table__cell--non-numeric">
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                          <input type="checkbox" class="checkboxes mdl-checkbox__input">
                      </label>
                    </td>
                    <td class="data mdl-data-table__cell--non-numeric">
                      <span> {{ row }} </span>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                      <button id="apply" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
                          <span class="mdl-color-text--white">Apply</span>
                      </button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                      <button id="cancel" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
                          <span class="mdl-color-text--white">Cancel</span>
                      </button>
                    </td>
                  </tr> -->
                </tbody>
              </table>
              <button id="apply" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
                  <span class="mdl-color-text--white">Apply</span>
              </button>
              <button id="cancel" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored dialog-button">
                  <span class="mdl-color-text--white">Cancel</span>
              </button>
            </div>
            <!-- <div id="vertexInfoId" class="lower-case mdl-tooltip mdl-tooltip--large" for="fixed-tab-1" style="display: none;">
                <span id="vertexInfo"></span>
            </div> -->
          </div>
          <!-- <div> to draw vertex stats -->
          <div id="vertexStats" class="fixed-div-lowerRight z-index-front">
          </div>
        </section>
        <!-- <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="mdl-grid page-content">
            <table id="vertexInfoTable" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead id="dynamicTableHeaders">
                <tr>
                  <th class="mdl-data-table__cell--non-numeric" v-for="header in headers">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody id="dynamicTableRows">
                <tr v-for="row in rows">
                  <td class="mdl-data-table__cell--non-numeric" v-for="key in row">
                    {{ key }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->
      </main>
    </div>
  </body>
  <script src="build/js/scripts.js"></script>
  <script src="build/js/threeGraph.js"></script>
  <script type="text/javascript">
    var vueTableHeader = new Vue({
      el: '#dynamicTableHeaders',
      data: {
        headers: ""
      }
    });
    var vueTableRows = new Vue({
      el: '#dynamicTableRows',
      data: {
        rows: ""
      }
    });
    var vueTableHeaderSecondLayer = new Vue({
      el: '#dynamicTableHeadersSecondLayer',
      data: {
        headers: ""
      }
    });
    var vueTableRowsSecondLayer = new Vue({
      el: '#dynamicTableRowsSecondLayer',
      data: {
        rows: ""
      }
    });
    var vueTableUserRows = new Vue({
      el: '#userDefinedRows',
      data: {
        rows: ""
      }
    });
    /** Store vertexes clicked */
    // var clickedVertexes = [];
    var layout = new Layout("vertexStats");
    function animate()
    {
      /* Render scene */
      globalRenderer.render(globalScene, globalScene.getObjectByName("camera", true));

      /* Tell the browser to call this function when page is visible */
      requestAnimationFrame(animate);

      /* Capture graph image (when requested) */
      if(layout.capture)
      {
        layout.capture = false;
        var dataURL = document.getElementsByTagName('canvas')[0].toDataURL('image/png');
        var wd = window.open('about:blank', 'graph');
        wd.document.write("<img src='" + dataURL + "' alt='from canvas'/>");
        wd.document.close();
      }
    }
  </script>
</html>
