.demo-card-wide.mdl-card {
  width: 600px;
  height: 500px;
}

.mdl-card {
  overflow: auto;
}
/*.mdl-card__title {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #3F51B5;
}*/
