.scrollable-x {
  max-width: 100%;
  overflow-x: auto;
}

.scrollable-y {
  max-height: 100%;
  overflow-y: auto;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.fixed-div-lowerRight {
	position: fixed;
	bottom: 10px;
	right: 40px;
}

.fixed-div-lowerLeft {
  position: fixed;
  top: 550px;
  bottom: 10px;
  left: 10px;
}

.fixed-div-upperLeft {
	position: fixed;
	top: 130px;
  bottom: 550px;
	left: 10px;
}

.fixed-div-center-2 {
	position: fixed;
	top: 25%;
	left: 40%;
}

.fixed-div-center {
	position: fixed;
	top: 40%;
	left: 40%;
}

.side-margin {
	margin-left: 10px;
	margin-right: 10px;
}

.fixed-div {
	position: fixed;
	top: 130px;
  bottom: 550px;
	right: 40px;
}

.small-margin {
	margin: 10px;
}

.overflow-y-scroll {
	overflow-y: scroll;
	overflow: hidden;
}

div.tooltip {
	width: auto;
	padding: 5px;
	font: 11px sans-serif;
	font-weight: bold;
	text-align: center;
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.z-index-front {
    z-index: 100;
}

.z-index-behind {
    z-index: -1;
}

.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  /*shape-rendering: auto;*/
}
svg {
  padding-right: 50px;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.outer-div {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle-div {
  display: table-cell;
  vertical-align: middle;
}

.inner-div {
    margin-left: auto;
    margin-right: auto;
    width: 400px; /*whatever width you want*/
}

.margin-zero-auto {
  height: auto;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative-div {
  position: relative;
}

.absolute-div {
  position: absolute;
}

.hidden-visibility {
  visibility: hidden;
}

.no-display {
  display: none;
}

.center-right {
  top: 25%;
  left: 50%;
}

.no-display {
  display: none;
}

.options-padding {
  margin-left: 250px;
}

.no-padding {
  padding: 0px;
}

.lower-case {
  text-transform: capitalize;
}

#upload-input {
  display: none;
}

.marg {
    margin : 0;
}

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  /*background-color: #4791D2;*/
  background-color: #FFFFFF;
}

/*body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}*/

.row {
  margin-top: 80px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

h2 {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}
